header {
    padding: 2em;
    background: #fff;
    display: flex;
}

.nav {
    background: pink;
    padding: 2px;
    /* 
        The 'flex-basis' property specifies the initial main size of a flex item.
        It sets the base size of the flex item before any available space is distributed
        according to the flex factors. In this case, 'flex-basis: 100%' means the flex item
        will take up 100% of the container's main size.
    
    flex-basis: 100%;  */
    flex-grow: 1; /* The 'flex-grow' property specifies how much the item will grow relative to the rest of the flexible items inside the same container. */
}

header > img{
    width: 40px;
    height: 40px;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background: lightblue;
}

.nav__list a{ 
    line-height: 3;
    color: var(--clr-primary);
}

.nav__list a:hover
.nav__list a:focus{
    color: var(--clr-body);
}


/* The ':nth-of-type(7)' pseudo-class selects the seventh 'li' element within the '.nav__list'.
    This rule sets the background color of the seventh list item to yellow. */

.nav__list li:nth-of-type(6){ 
    background-color: blue;
}

.nav__list li:nth-of-type(7){ 
    background-color: yellow;
    /*margin-right: auto;  The 'margin-right: auto' rule pushes the seventh list item to the left edge of the container. */
    margin-left: auto;/* The 'margin-left: auto' rule pushes the seventh list item to the right edge of the container. */;
    
}

