header {
    padding: 2em;
    background: #fff;
    display: flex;
}

header > img{
    width: 40px;
    height: 40px;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav__list a{ 
    line-height: 3;
    color: var(--clr-primary);
}

.nav__list a:hover
.nav__list a:focus{
    color: var(--clr-body);
}