*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-bg: #ddd;
    --clr-primary: #ee6352; 
    --clr-secondary: #f4f4f4;
    --clr-body: #333;
}
body {
    font-family: basic-sans, sans-serif;
    font-size: 1.125em;
    background: rgb(226, 220, 220);
    color: var(--clr-bg);
    background: var(--clr-bg);
    min-height: 100vh;

}
header {
    padding: 2em;
    background: #fff;
    display: flex;
    padding-right: 5px;
}

.nav {
    padding: 2px;
    /* 
        The 'flex-basis' property specifies the initial main size of a flex item.
        It sets the base size of the flex item before any available space is distributed
        according to the flex factors. In this case, 'flex-basis: 100%' means the flex item
        will take up 100% of the container's main size.
    
    flex-basis: 100%;  */
    flex-grow: 1; /* The 'flex-grow' property specifies how much the item will grow relative to the rest of the flexible items inside the same container. */
}

header > img{
    width: 40px;
    height: 40px;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    margin-left: 1em;
    margin-right: 5px;
}

.nav__list a{ 
    line-height: 3;
    color: var(--clr-primary);
}

.nav__list a:hover,
nav__list a:focus{
    color: var(--clr-body);
}


/* The ':nth-of-type(7)' pseudo-class selects the seventh 'li' element within the '.nav__list'.
    This rule sets the background color of the seventh list item to yellow. */

.nav__list li:nth-of-type(1){  
    margin-left: auto;
}    

.nav__list li:nth-of-type(6){ 
    background: teal;
    margin-left: auto; /* The 'margin-left: auto' rule pushes the sixth list item to the right edge of the container. */
    border: 5px solid teal;
}

.nav__list li:nth-of-type(7){ 
    background: yellow;
    /* margin-right: auto; /* The 'margin-right: auto' rule pushes the seventh list item to the left edge of the container. */
    /* margin-left: auto;/* The 'margin-left: auto' rule pushes the seventh list item to the right edge of the container. */
    border: 5px solid yellow;
    
}

